body{
    display: flex;
    flex-direction: column;
    max-width: 125%;
}

.header{
    width: 100%;
    background-color: #74C69D;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 35px 0 83px 0;
    align-items: center;
    justify-content: center;
}

.header-nav{
    width: 81.6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ul-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.ul-logo a{
    font-family: Work Sans;
    font-weight: 500;
    font-size: 40px;
    color: white;
}

.ul-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.ul-nav a{
    font-family: Work Sans;
    font-weight: 400;
    font-size: 20px;
    color: white;
}

.header-info{
    width: 81.96%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.info-title{
    width: 35.24%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.info-title__welcome{
    width: 100%;
    font-family: Work Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.info-title__title{
    width: 100%;
    font-family: Crimson Text;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
}

.info-title__desc{
    width: 100%;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 15px;
    opacity: 75%;
}

.info-title__btn-cont{
    width: 100%;
    margin-top: 10px;
}

.info-title__button{
    font-family: Work Sans;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    width: 170px;
    height: 48px;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.main{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.partners{
    width: 80.42%;
    margin-top: 60px;
    gap: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partners-info{
    width: 35.46%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.partners-info__small-title{
    font-family: Work Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    color: #74C69D;
}

.partners-info__title{
    font-family: Crimson Text;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    text-align: center;
    text-transform: capitalize;
    color: black;
}

.partners-info__desc{
    font-family: Work Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: black;
}

.partners-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners-content__content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.partners__partners-btn-cont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners__button{
    width: 170px;
    height: 48px;
    border-radius: 5px;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    background-color: black;
    color: white;
}

.main-info-one{
    gap: 88px;
    margin-top: 73px;
    width: 81.94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-info-one-title{
    width: 39.8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.main-info-one-title__title{
    width: 100%;
    font-family: Crimson Text;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    color: #212529;
}

.main-info-one-title__desc{
    font-family: Work Sans;
    font-weight: 400;
    font-size: 15px;
    opacity: 50%;
    color: #212529;
}

.main-info-one-title__btn-cont{
    margin-top: 10px;    
    width: 100%;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.main-info-one-title__button{
    width: 170px;
    height: 48px;
    border-radius: 5px;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    background-color: black;
    color: white;
}

.main-info-two{
    width: 81.96%;
    margin-top: 73px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
}

.main-info-two-text{
    width: 39.83%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.main-info-two-text__title{
    width: 100%;
    font-family: Crimson Text;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
}

.main-info-two-text__desc{
    width: 100%;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 15px;
    opacity: 50%;
}

.main-info-two-text__btn-cont{
    width: 100%;
    margin-top: 10px;
}

.main-info-two-text__button{
    font-family: Work Sans;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    width: 170px;
    height: 48px;
    border-radius: 5px;
    background-color: black;
    color: white;
}

.team{
    width: calc(1176/1440 * 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
    margin-top: 102px;
}

.team-info{
    width: calc(404/1176 * 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.team-info__title-small{
    font-family: Work Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    color: #74C69D;
}

.team-info__title-big{
    font-family: Crimson Text;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 125%;
    text-align: center;
    text-transform: capitalize;
    color: #212529;
}

.team-info__info{
    font-family: Work Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
}

.staff-profiles{
    width: 100%;
    display: grid;
    grid-template: auto/repeat(4, auto);
    gap: 47px;
}

.staff-legge{
    display: flex;
    flex-direction: column;
    gap: 19px;
    padding: 20px 39px 19px 38px;
    box-shadow: 3px 4px 12px 1px #00000040;
}

.staff-legge__photo{
    display: flex;
    justify-content: center;
}

.staff-legge-info{
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.staff-legge-info__name{
    font-family: Crimson Text;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 125%;
    color: #212529;
    text-transform: capitalize;
}

.staff-legge-info__position{
    font-family: Work Sans;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    opacity: 75%;
    color: #212529;
    text-transform: uppercase;
}

.staff-legge__photo{
    display: flex;
    justify-content: center;
}

.staff-legge-info{
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.staff-legge-info__name{
    font-family: Crimson Text;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 125%;
    color: #212529;
    text-transform: capitalize;
}

.staff-legge-info__position{
    font-family: Work Sans;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    opacity: 75%;
    color: #212529;
    text-transform: uppercase;
}

.staff-guerra{
    display: flex;
    flex-direction: column;
    gap: 19px;
    padding: 20px 39px 19px 38px;
    box-shadow: 3px 4px 12px 1px #00000040;
}

.staff-guerra__photo{
    display: flex;
    justify-content: center;
}

.staff-guerra-info{
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.staff-guerra-info__name{
    font-family: Crimson Text;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 125%;
    color: #212529;
    text-transform: capitalize;
}

.staff-guerra-info__position{
    font-family: Work Sans;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    opacity: 75%;
    color: #212529;
    text-transform: uppercase;
}

.staff-guerra__photo{
    display: flex;
    justify-content: center;
}

.staff-guerra-info{
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.staff-guerra-info__name{
    font-family: Crimson Text;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 125%;
    color: #212529;
    text-transform: capitalize;
}

.staff-guerra-info__position{
    font-family: Work Sans;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    opacity: 75%;
    color: #212529;
    text-transform: uppercase;
}

.staff-stolz{
    display: flex;
    flex-direction: column;
    gap: 19px;
    padding: 20px 39px 19px 38px;
    box-shadow: 3px 4px 12px 1px #00000040;
}

.staff-stolz__photo{
    display: flex;
    justify-content: center;
}

.staff-stolz-info{
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.staff-stolz-info__name{
    font-family: Crimson Text;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 125%;
    color: #212529;
    text-transform: capitalize;
}

.staff-stolz-info__position{
    font-family: Work Sans;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    opacity: 75%;
    color: #212529;
    text-transform: uppercase;
}

.staff-stolz__photo{
    display: flex;
    justify-content: center;
}

.staff-stolz-info{
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.staff-stolz-info__name{
    font-family: Crimson Text;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 125%;
    color: #212529;
    text-transform: capitalize;
}

.staff-stolz-info__position{
    font-family: Work Sans;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    opacity: 75%;
    color: #212529;
    text-transform: uppercase;
}

.staff-bray{
    display: flex;
    flex-direction: column;
    gap: 19px;
    padding: 20px 39px 19px 38px;
    box-shadow: 3px 4px 12px 1px #00000040;
}

.staff-bray__photo{
    display: flex;
    justify-content: center;
}

.staff-bray-info{
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.staff-bray-info__name{
    font-family: Crimson Text;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 125%;
    color: #212529;
    text-transform: capitalize;
}

.staff-bray-info__position{
    font-family: Work Sans;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    opacity: 75%;
    color: #212529;
    text-transform: uppercase;
}

.staff-bray__photo{
    display: flex;
    justify-content: center;
}

.staff-bray-info{
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.staff-bray-info__name{
    font-family: Crimson Text;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 125%;
    color: #212529;
    text-transform: capitalize;
}

.staff-bray-info__position{
    font-family: Work Sans;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    opacity: 75%;
    color: #212529;
    text-transform: uppercase;
}

.staff-bray{
    display: flex;
    flex-direction: column;
    gap: 19px;
    padding: 20px 39px 19px 38px;
    box-shadow: 3px 4px 12px 1px #00000040;
}

.staff-bray__photo{
    display: flex;
    justify-content: center;
}

.staff-bray-info{
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.staff-bray-info__name{
    font-family: Crimson Text;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 125%;
    color: #212529;
    text-transform: capitalize;
}

.staff-bray-info__position{
    font-family: Work Sans;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    opacity: 75%;
    color: #212529;
    text-transform: uppercase;
}

.staff-bray__photo{
    display: flex;
    justify-content: center;
}

.staff-bray-info{
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.staff-bray-info__name{
    font-family: Crimson Text;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 125%;
    color: #212529;
    text-transform: capitalize;
}

.staff-bray-info__position{
    font-family: Work Sans;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    opacity: 75%;
    color: #212529;
    text-transform: uppercase;
}

.team__btn-cont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team__button{
    width: 170px;
    height: 48px;
    border-radius: 5px;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    background-color: black;
    color: white;
}

.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #74C69D;
    margin-top: 54px;
}

.footer-nav{
    width: calc(1178/1440 * 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.socials{
    display: flex;
    gap: 20px;
}

.copyright{
    font-family: Work Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 125%;
    text-align: right;
    color: white;
}
    
@font-face {
    font-family: Work Sans;
    src: url(https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap);
}

@font-face {
    font-family: Crimson Text;
    src: url(https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap);
}